html{
  box-sizing: border-box;
  height:100vh;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position:relative;
}

body{
  background-image: url(../public/2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  max-height: 100vh;
}

.todo-container{
  display:flex;
  flex-direction: column;
  align-items: center;
  margin:10px;
  background-color: white;
  width:500px;
  min-height: 500px;
}

.todo-input-container{
  display: flex;
  width:450px;
  margin-bottom:20px;
}

.todo-input{
  width:400px;
  border:1px solid lightblue;
  border-radius: 2px;
  padding:8px;
  font-size: 14px;
}

.button{
  background-color: #063970;
  color:white;
  text-align: center;
  font-size: 14px;
  padding: 8px;
  max-width: fit-content;
  display: inline-block;
  cursor: pointer;
  font-weight: 500;
  text-transform: capitalize;
}

.button:hover{
  background-color: #071e26;
}

.todo-input:focus{
  outline: none;
}

.todo, .todo-clicked{
  width:450px;
  background-color: white;
  color:#071e26;
  border: 1px solid lightblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin:8px;
}

.todo p, .todo-clicked p{
  padding:8px;
  margin:0;
}

.todo:hover{
  background-color: #063970;
  color:white;
}

.todo:hover .symbols{
  display: inline-block;
}

.todo-clicked:hover .symbols{
  display: inline-block;
}

.todo-clicked {
  width:450px;
  background-color: #063970;
  color:white;
  text-decoration: line-through;
}

.symbols{
  padding:8px;
  cursor: pointer;
  display:none;
}

.todo-message{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 450px;
  padding: 8px;
}

.todos-list{
  min-height: 300px;
}

.symbols svg{
  margin-left:10px;
}

.popup{
  position: absolute;
  top:2%;
  right:2%;
  background-color:	#cc3300;
  padding:15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:180px;
  color:white;
  border-radius: 3px;
}

.popup p{
  margin:0px;
}

.popup svg{
  cursor: pointer;
}

@media screen and (max-width:680px) {
  .todo-container{
    width:350px;
    min-height:350px;
  }
  .todo-input-container{
    width:300px;
  }
  .todo, .todo-message, .todo-clicked{
    width:300px;
  }

  .todo-message h4{
    margin:0px;
  }
  .popup{
    padding:8px;
  }
  .symbols svg{
    margin-left:5px;
  }
}


